{% extends "_base.html" %}
{% load static %}
{% load static i18n %}
{% block title %} Dawa Adjala | Connexion {% endblock %}


{% block content %}
<main>
<!-- ===== SignIn Form Start ===== -->
<section class="i pg fh rm ki xn vq gj qp gr hj rp hr">
  <div
    class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp"
  >
    <!-- Bg Border -->
    <span class="rc h r s zd/2 od zg gh"></span>
    <span class="rc h r q zd/2 od xg mh"></span>
    <img class="mx-auto h-12 w-24 mb-12" src="{% static 'media/logo/logo.svg' %}" alt="Dawa Adjala" >

    <div class="rj">
      <h2 class="ek ck kk wm xb">Connectez-vous à votre compte</h2>
    </div>

    <form class="sb" action="{% url 'authentication:login' %}" method="POST">
      {% csrf_token %}
      {% if messages %}
      <div>
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                  {{ message }}
              </div>
          {% endfor %}
      </div>
  {% endif %}
      <div class="wb">
        <label class="rc kk wm vb" for="id_username">E-mail</label>
        <input
          type="email"
          name="username"
          id="id_username"
          placeholder="Adresse e-mail"
          class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
        />
      </div>

      <div class="wb">
        <label class="rc kk wm vb" for="id_password">Mot de passe</label>
        <input
          type="password"
          name="password"
          id="id_password"
          placeholder="Mot de passe"
          class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
        />
      </div>

      <button class="vd rj ek rc rg gh lk ml il _l gi hi">
        Se connecter
      </button>

      <p class="sj hk xj rj ob">
        Pas de compte ?
        <a class="mk" href="{% url 'authentication:signup' %}"> Inscrivez-vous ici </a>
      </p>
    </form>
  </div>
</section>
<!-- ===== SignIn Form End ===== -->
</main>
{% endblock content %}
