{% load static %}

<div class="bg-white rounded-lg shadow-lg px-8 py-10 items-center max-w-xs mx-auto">
    <div class="flex flex-col items-center mb-4">
        <div class="flex items-center justify-center mb-2">
            <img class="h-14 w-18" src="{% static 'media/logo/logo.svg' %}" alt="Logo" />
        </div>
    </div>
    <div class="pb-2 mb-2 text-center">
        <h2 class="text-2xl text-green-900 font-semibold mb-0">Coupon de paiement</h2>
    </div>
    <div class="flex flex-col items-center text-center mb-4">
        <div class="flex flex-col items-center">
            <div class="flex items-center justify-center mt-0 mb-2">
                <img src="{{ owner.qr_code.url }}" alt="Qr code">
            </div>
        </div>
       
        <div class="flex flex-col items-center space-y-2 mb-4">
            <div class="flex">
                <button class="ek jk lk gh gi hi rg ml il vc _d _l">{{ amount }} fcfa</button>
            </div>
            <div class="flex">
                <div class="text-gray-700 mr-2">Date:</div>
                <div class="text-black ml-2 mr-2">{{ recharge_date }}</div>
            </div>
            
        </div>
    </div>            
  
</div>

