{% load static %}
{% load i18n %}

<!-- ===== CTA Start ===== -->
<section class="i pg gh ji">
    <!-- Bg Shape -->
    
    <div class="bb ye i z-10 ki xn dr">
    <div class="tc uf sn tn un gg">
      <div class="animate_left to/2">
        <h2 class="fk vj zp pr lk ac">
            Rejoingnez la liste de nos hôpitaux parténaires.
        </h2>
        <p class="lk">
            Inscrivez votre hôpital et attendez l'approbation pour faire partir de nos parténaires.
        </p>
      </div>
      <div class="animate_right bf">
        <a href="{% url 'hospital:hospital_register' %}" class="vc ek kk hh rg ol il cm gi hi">
            Inscrivez votre hôpital ici
        </a>
      </div>
    </div>
    </div>
    </section>
    
      <!-- ===== CTA End ===== -->