{% extends "_base.html" %}
{% load static %}
{% load static i18n %}

{% block content %}

<div class="relative bg-white pb-[0px] pt-[110px] dark:bg-zinc-800 lg:pt-[150px]">
<div class="container mx-auto">

  <div class="-mx-4 flex flex-wrap items-center">
    <div class="w-full px-4 lg:w-5/12">
      <div class="hero-content">
        <h1 class="mb-5 font-awesome !leading-[1.208] text-dark dark:text-white sm:text-[22px] lg:text-[20px] xl:text-4xl">
        Dawa Adjala , votre bien-être assuré et à portée de main
        </h1>
        <p class="mb-8 max-w-[480px] text-base text-body-color dark:text-dark-6">
        L'absence de système d'assurance santé au Tchad crée des difficultés financières pour les ménages à faible revenu, retardant ainsi l'accès aux soins médicaux et aggravant les problèmes de santé 
        </p>
        <ul class="flex flex-wrap items-center">
          <li>
            <a href="{% url 'authentication:signup' %}">
              <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-green-700 rounded-full border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Créer un compte</button>
            </a>
          </li>
          <li>
            <a href="{% url 'hospital:hospital_register' %}">
              <button type="button" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-700 dark:text-green-700 dark:hover:text-white dark:hover:bg-green-700 dark:focus:ring-green-700">Inscrire son hôpital</button>
            </a> 
          </li>
        </ul>
      </div>
    </div>
    <div class="hidden px-4 lg:block lg:w-1/12"></div>
    <div class="w-full px-4 lg:w-6/12">
      <div class="lg:ml-auto lg:text-right">
        <div class="relative z-10 inline-block pt-11 lg:pt-0">
          <img
            src="{% static 'media/home/home.jpg' %}"
            alt="hero"
            class="max-w-full lg:ml-auto"
          />
          <span class="absolute -bottom-8 -left-8 z-[-1]">
            <svg
              width="93"
              height="93"
              viewBox="0 0 93 93"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="2.5" cy="2.5" r="2.5" fill="#166534" />
              <circle cx="2.5" cy="24.5" r="2.5" fill="#166534" />
              <circle cx="2.5" cy="46.5" r="2.5" fill="#166534" />
              <circle cx="2.5" cy="68.5" r="2.5" fill="#166534" />
              <circle cx="2.5" cy="90.5" r="2.5" fill="#166534" />
              <circle cx="24.5" cy="2.5" r="2.5" fill="#166534" />
              <circle cx="24.5" cy="24.5" r="2.5" fill="#166534" />
              <circle cx="24.5" cy="46.5" r="2.5" fill="#166534" />
              <circle cx="24.5" cy="68.5" r="2.5" fill="#166534" />
              <circle cx="24.5" cy="90.5" r="2.5" fill="#166534" />
              <circle cx="46.5" cy="2.5" r="2.5" fill="#166534" />
              <circle cx="46.5" cy="24.5" r="2.5" fill="#166534" />
              <circle cx="46.5" cy="46.5" r="2.5" fill="#166534" />
              <circle cx="46.5" cy="68.5" r="2.5" fill="#166534" />
              <circle cx="46.5" cy="90.5" r="2.5" fill="#166534" />
              <circle cx="68.5" cy="2.5" r="2.5" fill="#166534" />
              <circle cx="68.5" cy="24.5" r="2.5" fill="#166534" />
              <circle cx="68.5" cy="46.5" r="2.5" fill="#166534" />
              <circle cx="68.5" cy="68.5" r="2.5" fill="#166534" />
              <circle cx="68.5" cy="90.5" r="2.5" fill="#166534" />
              <circle cx="90.5" cy="2.5" r="2.5" fill="#166534" />
              <circle cx="90.5" cy="24.5" r="2.5" fill="#166534" />
              <circle cx="90.5" cy="46.5" r="2.5" fill="#166534" />
              <circle cx="90.5" cy="68.5" r="2.5" fill="#166534" />
              <circle cx="90.5" cy="90.5" r="2.5" fill="#166534" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 

<!-- ====== Services Section Start -->
<section class="pb-12 pt-0 dark:bg-dark lg:pb-[90px] lg:pt-[120px]">
  <div class="container mx-auto">
    <div class="mx-auto mb-12 max-w-[510px] text-center lg:mb-20">
      {% comment %} <span class="mb-2 block text-lg font-semibold text-primary">
        Nos Services
      </span> {% endcomment %}
      <h2 class="mb-3 text-3xl font-bold leading-[1.2] text-dark dark:text-white sm:text-4xl md:text-[40px]">
        Nos services
      </h2>
      <p class="text-base text-body-color dark:text-dark-6">
        Donnez la possibilité d’accès aux soins médicaux de qualité et à temps à la population vulnérable
      </p>
    </div>

    <div class="flex justify-center gap-4">
      <div class="w-full lg:w-1/3 px-4"> 
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
      </div>
      
      <div class="w-full lg:w-1/3 px-4"> 
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
      </div>
      
      <div class="w-full lg:w-1/3 px-4"> 
        <a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- ====== Services Section End -->

{% comment %} <a href="{% url 'authentication:doctor_signup' %}">
    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Espace medecin</button>
</a>

<a href="{% url 'authentication:patient_signup' %}">
    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Espace patient</button>
</a>

<a href="{% url 'authentication:login' %}">
    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Connexion</button>
</a>

<a href="{% url 'authentication:logout' %}">
    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Déconnexion</button>
</a> {% endcomment %}

{% comment %} <a href="{% url 'hospital_register' %}">
    <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-green-700 hover:bg-gray-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Déconnexion</button>
</a> {% endcomment %}

{% endblock content %}