{% extends "dashbord/_dashbord_base.html" %}
{% load static %}
{% block title %} Dawa Adjala | Mon compte {% endblock %}


{% block overlay %}
<div class="absolute w-full bg-green-700 dark:hidden min-h-68"></div>
{% endblock overlay %}

{% block content %}
<body
    x-data="{ page: 'dashbord', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'b eh': darkMode === true}"
  >
<div class="flex justify-center px-6 pt-24 mx-auto"> 
  <div class="flex flex-wrap w-full justify-center -mx-3">
    <div class="max-w-full w-full px-3 lg:w-2/3 lg:flex-none">
      <div class="flex flex-wrap -mx-3">       
        <div class="w-full max-w-full px-3 mb-6 xl:mb-0 xl:w-1/2 xl:flex-none animate_top">
          <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-transparent border-solid shadow-xl rounded-2xl bg-clip-border">
            <div class="relative overflow-hidden rounded-2xl" >
              <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-white dark:bg-gradient-to-tl dark:from-slate-750 dark:to-gray-850 opacity-80"></span>
              <div class="relative z-10 flex-auto p-4">
                <div class="w-16 h-16 text-center bg-center shadow-sm icon bg-gradient-to-tl from-green-700/10 to-green-800/10  rounded-xl">
                  <i class="relative text-xl leading-none text-white opacity-100 fa fa-user-nurse top-31/100"></i>
                </div>
                <div class="flex flex-wrap justify-center -mx-3">
                  <div class="w-4/12 max-w-full px-3 flex-0 ">
                    <div class="mb-6 -mt-6 lg:mb-0 lg:-mt-16">
                      <a href="javascript:;">
                        {% if request.user.avatar %}
                        <img class="w-34 h-34 border-2 border-white border-solid rounded-circle" src="{{ request.user.avatar.url }}" alt="profile image">
                        {% else %}
                            <img class="w-34 h-34 rounded-full" src="{% static 'media/avatar/default.jpg' %}" alt="default user photo">
                        {% endif %}
                      </a>
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap justify-center">
                  <div class="flex">
                    <div class="mr-6">
                      <h5 class="pb-2 mt-6 mb-0 text-center text-black">Bonjour {{user.get_full_name }} !</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full max-w-full px-3 xl:w-1/2 xl:flex-none animate_top">
          <div class="flex flex-wrap -mx-3">
            <div class="w-full max-w-full px-3 md:w-1/2 md:flex-none">
              <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                <div class="p-4 mx-6 mb-0 text-center border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                  <div class="w-16 h-16 text-center bg-center shadow-sm icon bg-gradient-to-tl from-green-700/10 to-green-800/10 rounded-xl">
                    <i class="relative text-xl leading-none text-white opacity-100 fa fa-hospital-user top-31/100"></i>
                  </div>
                </div>
                <div class="flex-auto p-4 pt-0 text-center">
                  <h6 class="mb-0 text-center dark:text-white">Solde actuelle</h6>
                  <span class="text-xs leading-tight dark:text-white dark:opacity-80">En FCFA</span>
                  <hr class="h-px my-4 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
                  <h5 class="mb-0 dark:text-white">{{balance}}</h5>
                </div>
              </div>
            </div>
            <div class="w-full max-w-full px-3 mt-6 md:mt-0 md:w-1/2 md:flex-none animate_top">
              <div class="relative flex flex-col min-w-0 break-words bg-white border-0 border-transparent border-solid shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                <div class="p-4 mx-6 mb-0 text-center border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
                  <div class="w-16 h-16 text-center bg-center shadow-sm icon bg-gradient-to-tl from-green-700/10 to-green-800/10  rounded-xl">
                    <i class="relative text-xl leading-none text-white opacity-100 fa fa-stethoscope top-31/100"></i>
                  </div>
                </div>
                <div class="flex-auto p-4 pt-0 text-center">
                  <h6 class="mb-0 text-center dark:text-white">Infos</h6>
                  <span class="text-xs leading-tight dark:text-white dark:opacity-80">Numéro de compte</span>
                  <hr class="h-px my-4 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent dark:bg-gradient-to-r dark:from-transparent dark:via-white dark:to-transparent" />
                  <h5 class="mb-0 dark:text-white">{{ account_number }}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <div class="w-full p-12 mx-auto ">
    <div class="flex flex-wrap -mx-3">
      <div class="w-full max-w-full px-3  mt-0 shrink-0 md:w-5/12 md:flex-0">
        <div class="w-full max-w-full px-3 mb-6 lg:mb-0 lg:w-full lg:flex-none animate_top">
          <!-- Graphique de la Progression Mensuelle de l'Épargne -->
          <div class="max-w-4xl mx-auto p-4 bg-white rounded-lg shadow mb-6">
            <h2 class="text-2xl text-black mb-4">Progression mensuelle de votre épargne</h2>
            <canvas id="myChart" class="w-full h-64"></canvas>
          </div>
        </div>
      </div>

      <div class="w-full max-w-full px-3 mt-0 shrink-0 md:w-6/12 md:flex-0 md:mt-0">
        <div class="w-full max-w-full px-3 mb-6 lg:mb-0 lg:w-full lg:flex-none animate_top">
          <div class="p-4 mx-6 mb-0 text-center bg-white border-b-0 border-b-solid rounded-t-2xl border-b-transparent">
            <h2 class="text-2xl text-black mb-4">Répartition de vos dépenses</h2>
            <canvas id="expenseChart" class="w-full h-64"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full pt-2 pl-16 mx-auto">
    <a href="{% url 'authentication:make_payment' %}" class="ek jk lk gh gi hi sg ml il vc _d _l text-center">Effectuer un paiement</a>
    <a href="{% url "authentication:make_transfer" %}" class="ek jk lk mh gi hi sg ml il vc _d _l text-center">Effectuer un transfert</a>
  </div>


  <script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('{% url "authentication:get_monthly_savings" %}')
        .then(response => response.json())
        .then(data => {
            console.log('Data:', data);  // Log les données pour vérification

            // Fonction pour formater les dates
            function formatDate(isoDate) {
                const date = new Date(isoDate);
                const options = { year: 'numeric', month: 'long' };
                return date.toLocaleDateString('fr-FR', options);
            }

            // Formater les labels
            const formattedLabels = data.labels.map(label => formatDate(label));

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: formattedLabels,
                    datasets: [{
                        label: 'Épargne',
                        data: data.data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching data:', error));  // Log les erreurs de fetch
    });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
          fetch('{% url "authentication:get_expense_distribution" %}')
          .then(response => response.json())
          .then(data => {
              console.log('Expense Distribution Data:', data);  // Log les données pour vérification
      
              var ctx = document.getElementById('expenseChart').getContext('2d');
              var expenseChart = new Chart(ctx, {
                  type: 'bar', 
                  data: {
                      labels: data.labels,
                      datasets: [{
                          label: 'Épargne',
                          data: data.data,
                          backgroundColor: [
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(255, 99, 132, 0.2)'
                          ],
                          borderColor: [
                              'rgba(75, 192, 192, 1)',
                              'rgba(255, 99, 132, 1)'
                          ],
                          borderWidth: 1
                      },
                      {
                        label: 'Paiements vers les Hôpitaux (FCFA)',
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                  },
                  options: {
                      responsive: true,
                      scales: {
                          y: {
                              beginAtZero: true
                          }
                      },
                      plugins: {
                          legend: {
                              display: true,
                              position: 'top'
                          },
                      }
                  }
              });
          })
          .catch(error => console.error('Error fetching data:', error));  // Log les erreurs de fetch
      });
      </script>
  
</body>
{% endblock content %}