{% extends "dashbord/_dashbord_base.html" %}
{% load static %}

{% block content %}
<body
x-data="{ page: 'payment', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
x-init="
     darkMode = JSON.parse(localStorage.getItem('darkMode'));
     $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
:class="{'b eh': darkMode === true}"
>

<div class="flex justify-center h-screen px-0 py-24 mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for payment in payments %}
        <div class="p-0">
          {{ payment.coupon.html_content|safe }}
        </div>
      {% endfor %}
    </div>
</div>
</body>

{% endblock content %}
